h1 {
  font-family: "Source Serif Pro", serif;
  color: #031a21;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}